*{
    margin: 0;
    padding: 0;
}
#body{
    background-image: url(../public/bg.png);
    width: 100%;
    height: 150vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width:300px;
    }
}
#body1{
    width: 35%;
    height: 130vh;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
#body3{
    
    width: 90%;
    height: 100vh; display: flex;
    flex-direction: column;
    gap: 30px;

    margin: 0 0 50px 0;
  
    div{    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }
    input{
        width: 85%;
        padding: 8px;
        background: none;
        border: 1px solid rgba(0, 0, 0, 0.27);
        border-radius: 10px;
    }
    select{
        width: 90%;
        padding: 8px;
        background: none;
        border: 1px solid black;

    }
    button{
        width: 85%;
        background-color: blue;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 15px;

    }

}

#body13{
    
    width: 30%;
    height:40vh; display: none;
    flex-direction: column;
    background-color: white;

     gap: 90px;
    padding-top: 50px;
    font-size: 15px;
    align-items: center;
    align-items: center;
    #body14{
        width: 90%;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
     
    input{
        width: 35px;
       height: 35px;
       text-align: center;
        background: none;
        font-size: 20px;
        font-weight: 20px;
        border: 1px solid rgba(0, 0, 0, 0.27);
        border-radius: 10px;
    }
    select{
        width: 90%;
        padding: 8px;
        background: none;
        border: 1px solid black;

    }
    button{
        width: 85%;
        background-color: blue;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 15px;

    }
    

}
#display{
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 40px;
    background-color: rgba(216, 10, 10, 0.438);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.867);
    font-size: 30px;
    margin-top: 20px;
}





@media (max-width: 700px) {
    #body{
        width: 100%;
        /* height: 140vh; */
        #body1{
            width: 90%;
            /* height: 120vh; */
        }
    }
    #body13{
        width: 90%;
        height: 30vh;
    }
}
@media (max-width: 430px) {
    #body{
        width: 100%;
        height: 100vh;
        /* background-color: red; */
      
    }
    #body1{
        width: 90%;
        height: 89%;
        /* background-color:red; */
    }
    /* #body13{
        width: 90%;
        height: 30vh;
    } */
}
@media (max-width:375px) {
    #body{
        width: 100%;
        height: 140vh;
        /* background-color: red; */
      
    }
    #body1{
        width: 90%;
        /* height: 200%; */
        /* background-color:red; */
    }
}